body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 100%;
    margin: 0rem auto;
}

.header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    margin-bottom: 30px;
    border-radius: 5px;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.card-header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.week-tabs {
    margin-bottom: 20px;
}

.week-tabs .nav-link {
    font-weight: bold;
    color: #495057;
}

.week-tabs .nav-link.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    border-bottom: 3px solid #0f468d;
}

.bg-remoto {
    background-color: #bfe1f6 !important;
    font-weight: bold;
    color: #0a53a8 !important;
}

.bg-presencial {
    background-color: #d4edbc !important;
    font-weight: bold;
    color: #11734b !important;
}

.bg-atividade-externa {
    background-color: #c6dbe1 !important;
    font-weight: bold;
    color: #215a6c !important;
}

.bg-afastamento {
    background-color: #e6cff2 !important;
    font-weight: bold;
    color: #5a3286 !important;
}

.bg-ferias {
    background-color: #e6cff2 !important;
    font-weight: bold;
    color: #5a3286 !important;
}

.bg-paralisacao {
    background-color: #e6cff2 !important;
    color: #5a3286 !important;
}

.tab-content {
    background-color: white;
    border-radius: 5px;
    box-shadow: 30px 52px 40px -17px rgba(0,0,0,0.1);
}

.sorting_1 {
    font-weight: bold;
}

.table-container {
    overflow-x: auto;
    font-weight: bold;
    border-radius: 7px;
    
}

.badge {
    font-size: 85%;
    padding: 5px 10px;
    border-radius: 4px;
}

.notes-section {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    border-left: 4px solid #007bff;
    margin-top: 20px;
}

.current-date {
    background-color: #17a2b8;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
    margin-bottom: 15px;
}

@media (max-width: 967px) {
    .legend {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 1024px) {
    .container.navbar {
        display: none;
    }
}